<div class="container">
    <div class="col-md-4 col-sm-4 col-xs-4" style="text-align: center; margin-left:400px; margin-top:200px">
        <form action="" method="post">
            <h4>Agregar estudiantes</h4>
            <div class="form-group">
                <label for="nombre"></label>
                <input type="text" name="nombre" class="form-control" id="nombre" placeholder="Nombre" required>
            </div>
            <div class="form-group">
                <label for="edad"></label>
                <input type="number" name="edad" class="form-control" id="edad" placeholder="Edad" required>
            </div>
            <div class="form-group">
                <label for="Email"></label>
                <input type="email" name="correo" class="form-control" id="Email" placeholder="Email" required>
            </div>
            <button type="submit" class="btn btn-success">Registrar</button>
        </form>
    </div>
</div>