<div class="container">
    <center><h3>Lista de estudiantes</h3></center>
    <div class="row">
    <div class="col-sm-3">
        <h5>Id</h5>
    </div>
    <div class="col-sm-3">
        <h5>Nombre</h5>
    </div>
    <div class="col-sm-3">
        <h5>Edad</h5>
    </div>
    <div class="col-sm-3">
        <h5>Email</h5>
    </div>
</div>
{{#each user}}
<div class="row">
    <div class="col-sm-3">
        <div>
            {{id_estudiante}}
        </div>
    </div>
    <div class="col-sm-3">
        <div>
            {{nombre}}
        </div>
    </div>
    <div class="col-sm-3">
        <div>
            {{edad}}
        </div>
    </div>
    <div class="col-sm-3">
        <div>
            {{correo}}
        </div>
    </div>
</div>
 {{/each}}

</div>
