<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title>imagenes</title>
</head>

<body>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <center><img src="https://www.dzoom.org.es/wp-content/uploads/2017/07/seebensee-2384369-810x540.jpg"
                            height="300"></center>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <center><img
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ410--NZu2b6IdduWjuQD8a56YtNSmXEpC_vixUAH9tNCrCRAK"
                            height="300"></center>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <center><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR3_8xoRsPcQVChX5Jf6d_DrpZZ-R2y8KOMxFVL8Wqah6O0FjVc"  height="200"></center>
                </div>
            </div>
        </div>
         <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <center><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQQyqDliIpM_lOXLJGyKkPkCvvKVseflJ63qEWvqmmTKOLZC4HZ"  height="200"></center>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRSBn1UBfflJ2PrlyzTAOl9r3BGom0sgRscLLJXLZT1wYUoZKgz" height="200">
                </div>
            </div>
        </div>
    </div>
    <center><a href="/tablas/factorial" class="btn btn-primary">enviar</a></center>

</body>

</html>