<div class="container">
    <center><h3>Asignacion de materias</h3></center>
    <div class="row">
         <div class="col-sm-4">
            <h5>docente</h5>
        </div>
         <div class="col-sm-4">
            <h5>materia</h5>
        </div>
         <div class="col-sm-4">
            <h5>periodo</h5>
        </div>
        {{#each AsignarMateria}}
        <div class="row">
             <div class="col-sm-4">
                {{nombre}}
            </div>
             <div class="col-sm-4">
                {{materia}}
            </div>
             <div class="col-sm-4">
                {{periodo}}
            </div>
        </div>
        {{/each}}
    </div>
</div>